pandas
reportlab
google-api-python-client==2.159.0
google-cloud-firestore
google-cloud-secret-manager==2.21.1
arabic_reshaper
python-bidi
openpyxl
gunicorn
Flask
functions-framework
google-auth-oauthlib==1.2.1
google-auth>=2.35.0
google-generativeai
google-genai
PyYAML
